<link rel="stylesheet" type="text/css">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand mr10"><i class="fas fa-cloud-sun-rain"></i></a><span class="mr15">Hava Durumu</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <i class="fas fa-city mr10"></i>
    <ng-select 
    [items]="cities"
    (selected)="selected($event)"
    placeholder="Şehir Seçimi">
    </ng-select>
</nav>
