<ng4-loading-spinner [template]="template" [timeout]="100000"> </ng4-loading-spinner>
<div *ngIf="!this.isLoading" class="container dispflx">
    <div *ngFor="let item of weatherbycity" class="we-container">
        <div class="we-properties"><h1>Lokasyon :</h1><h1 class="ml5">{{item.city_name}}</h1></div>
        <div class="we-properties"><h1>Nem oranı :</h1><h1 class="ml5">%{{item.rh}}</h1></div>
        <div class="we-properties"><h1>{{item.weather.description}}</h1></div>
        <div class="we-properties"><h2>{{item.temp}}</h2><img src="assets/celcius.png"></div>
        <a style="text-decoration: none;" routerLink="/daily"><div class="we-properties"><i style="float:right;" class="fas fa-search-location mr10"></i><h1>Lokasyonumu Bul</h1></div></a>
        
    </div>
</div>
<router-outlet></router-outlet>