<div *ngFor="let item of weather" class="container dispflx">
    <div class="we-left-container">
        <div class="we-properties"><h1>Lokasyon :</h1><span class="ml5">{{item.city_name}}</span></div>
        <div class="we-properties"><h1>Nem oranı :</h1><span class="ml5">%{{item.rh}}</span></div>
        <div class="we-properties"><h1>{{item.weather.description}}</h1></div>
        <div class="we-properties"><h2>{{item.temp}}</h2><img src="assets/celcius.png"></div>
    </div>
    <div class="we-right-container"></div>
</div>
<router-outlet></router-outlet>