<ng4-loading-spinner [template]="template" [timeout]="100000"> </ng4-loading-spinner>
<div class="container dispflx">
    <div *ngIf="!this.isLoading" class="we-left-container">
        <div class="we-properties"><h1>Lokasyon :</h1><h1 class="ml5">{{this.weather?.location.name}}</h1></div>
        <div class="we-properties"><h1>Nem oranı :</h1><h1 class="ml5">%{{this.weather?.current.humidity}}</h1></div>
        <div class="we-properties"><h1>{{this.weather?.current.condition.text}}</h1></div>
        <div class="we-properties"><h2>{{this.weather?.current.temp_c}}</h2><img src="assets/celcius.png"></div>
    </div>
</div>
<router-outlet></router-outlet>